.media-bar {
  height: 120px;
  color: white;
  width: 100%;

  background-image: url("img_flowers.jpg");
  background-size: 100% 100%;
}
img {
  height: 80px;
  width: 80px;
}
.multi-media,
img {
  height: 30px;
  width: 30px;
}
.album {
  height: 80px;
  width: 80px;
}
.album-name {
  max-width: 300px;
}
.slidecontainer {
  width: 100%;
}
