.media-bar {
  height: 120px;
  color: white;
  width: 100%;
  background-size: 100% 100%;
}
.firstbox {
  color: white;
}
img {
  height: 80px;
  width: 80px;
}
.multi-media,
img {
  height: 40px;
  width: 40px;
  filter: grayscale(100%) invert(48%) sepia(79%) saturate(2%) hue-rotate(86deg)
    brightness(70%) contrast(119%);
}
.album {
  height: 80px;
  width: 80px;
}
.album-name {
  max-width: 300px;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: rgb(202, 255, 96);
  border-radius: 15px;
}
.heart {
  height: 20px;
  width: 20px;
}
