
body {
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: sans-serif;
   font-family: 'Open Sans', sans-serif !important;
    font-size: 11px !important;
}

#sidebar a {
    color: grey;
    font-size: 11px;
    font-weight: bold;
    
}
#sidebar strong {
    font-size: 12px;

}
#sidebar i {
    color: white;
    font-size: 17px;
}

#sidebar > div.d-flex.flex-column.align-start.top-items.ml-3.mt-3.top-icons > a.nav-link.active.mt-3 > i {
    height: 17px;
    width: 17px;
}

#main {
    height: 350px;
    position: relative;
   /* background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.52), rgba(60, 59, 59, 0.73)), url("./banner.jpg");
    background-repeat: no-repeat fixed;
    background-size: auto;
 */
}

#main::after {
    content: ' ';
    background: linear-gradient(to bottom, rgba(34,34,34, 0), rgba(34,34,34, 1));
    height: 160px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
}


a:hover {
    color: rgb(0, 86, 179);
    text-decoration: none;
}

#player {
    height: 7vh;
}

.list li a {
    list-style: none;
    color: white;
    font-weight: bold;
}

.list li a:active {
    text-decoration: underline lightgreen 2px;
    

}
.list li {
    list-style: none;
}

#sidebar {
    background-color: black;
   
   height: 93vh;
}

.line-break {
    background-color: grey;
    width: 80%;
    margin: 8px;
    margin-left: 25px;
}
#profile-pic {
    border-radius: 50%;
}

#main > h6 {
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.album h6 {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.album > span {
    font-size: 13px;
}

#main > h1 {
    font-weight: 600;
    font-size: 50px;
}

body > div.container > h3 {
    font-weight: 700;
}

.btn1 {

    border-radius: 25px;
    width: 110px;
    background-color: rgb(0, 189, 0);
    color: white;
    height: 35px;
    font-size: 11px;
    
}

.btn2 {
    border-radius: 25px;
    width: 120px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor:pointer;
    overflow: hidden; 
    margin-left: 10px;
    border: 1px white solid;
    height: 35px;
    font-size: 11px;
}
.btn3 {
    font-size: 15px;
    margin-left: 20px;
    height: 35px;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.album {
    margin-bottom: 20px;
    text-align: center;
}

.top-items a i {
    margin-right: 10px;}

.nav {
  background-color: black;
  color: white;

  height: 100vh;
}

.navbar-button {
  border-radius: 20px !important;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "\f015";
  padding: 0 10px 0 0;
  font-family: "Font Awesome 5 Free";
  z-index: 1;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.album-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    266deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 0.969625350140056) 79%,
    rgba(21, 40, 41, 0.7399334733893557) 100%
  );
  color: white;
}

.card img {
  border-radius: 0px;
  border: 0px;
  box-shadow: black;
  border-style: hidden;
}

.card {
  border-style: hidden !important;
  position: relative;

  -webkit-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.74);
}


.logo-spotify-copyright{
    position: absolute; 
    width: 15px !important;
    margin-left: 8px;
    margin-top: 8px;
    opacity: 80%;



}

.menu-album-2 div::before{
    content: " ";
    position: absolute;
    background-color: green;
    width: 0%;
    height: 2px;
    bottom: -8px;
    left:50%;
    bottom:100;
    transform: 50%;
    display: block;
    transition: all 1s ease;
}

.menu-album-2 div:hover::before{
   width: 50%;
   left: 25%;
}

.menu-album-2 > div {
    cursor: pointer;
    position: relative;
}
.menu-album-2 > div:hover{
    color:white;
}

.menu-album-2{
    color:grey
    
}

.displayN {
display:none
}

.displayY {
    display: block;

}

.card-karaoke p {
    text-align: center;
    margin-top: 10px;
}
